$mainColor: #28DBD2
$white: #ecf0f1

body
  height: 100vh
  width: 100%
  background: url(../crowd.jpg) no-repeat center center fixed
  background-size: cover
  font-family: 'Montserrat', sans-serif

// - - - NAV - - - /
nav
  background: #262626
  padding: 15px
  a
    color: $white
    &:hover
      color: $white
  .navbar-brand
    color: $mainColor
    font-size: 25px
    margin-top: -3px

ul
  &.nav
    a:hover
      background: none
      color: $white
  .subtext
    font-size: 12px
    margin-left: -20px

.nav-middle
  padding-left: 50px

.navbar-right
  li
    a
      padding: 5px 15px
      margin-top: 10px

.main-btn
  background: $mainColor
  border-radius: 20px

// - - - SIDEBAR - - - //
.sidebar
  background: -webkit-linear-gradient(top, #262626 50%, rgba(0, 0, 0, 0) 100%)
  position: absolute
  height: 100%
  width: 200px
  left: -200px
  transition: left 0.7s ease

  &.sidebar-visible
    position: absolute
    left: 0px
    height: 100%
    width: 200px
    transition: left 0.5s ease
    background: -webkit-linear-gradient(top, #262626 50%, rgba(0, 0, 0, 0) 100%)

  button
    position: relative
    right: -80px
    top: -200px
    background-color: $mainColor
    border-radius: 2px
    transition: ease 0.7s all

    span
      background: white

    &.rotated
      transform: rotate(90deg)
      transition: ease 0.5s all
      background: rgba(40, 219, 210, 0.5)

  h3
    color: $mainColor
    text-align: center
    margin-bottom: -8px
  p
    color: $white
    text-align: center

  ul
    list-style: none
    margin: 0
    padding: 0
    margin-top: 40px

    li
      color: $white
      text-align: center
      margin-bottom: 20px
    a
      color: $white
      text-decoration: none



// - - - HELPER CLASSES - - - ??
.vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)
